/* Define standard variables and values for website */
$headerbgcolor: #F5EBE0;
$tabbordercolor: linear-gradient(90deg, #845DEA 0%, #EB5DB9 99.7%);
$bgimage: url('../../assets/images/card-image.png');

.portlate {
    margin-bottom: 48px;

    .tab-header {
        position: relative;
        background: $headerbgcolor;
        height: 52px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;

        ul {
            justify-content: center;

            li {
                list-style: none;
                padding: 15px 50px;
                cursor: pointer;

                &.active {
                    position: relative;
                    background: #F8EEE3;
                    box-shadow: -1px 4px 9px 0px #CCA8807D;
                    padding: 0px 50px;
                    height: 52px;
                    display: flex;
                    align-items: center;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 100%;
                        height: 4px;
                    }

                    &::after {
                        background: $tabbordercolor;
                    }

                    a {
                        color: #24262D;
                        font-size: 23px;
                    }
                }

                a {
                    color: #B890AA;
                }
            }
        }
    }

    .tab-content {
        padding: 23px 78px 60px 78px;
        background: rgba(248, 230, 217, 0.25);

        .action-group {
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 2px rgba(243, 222, 196, 1);
            
            .information {
                p {
                    color: #654657;
                }

                .focus-count {
                    align-items: center;
                    gap: 10px;

                    p {
                        color: #24262D;
                    }

                    p.focus-points {
                        background: linear-gradient(88.56deg, rgba(151, 45, 167, 0.78) -17.82%, rgba(235, 47, 131, 0.78) 26.14%, rgba(252, 152, 103, 0.78) 64.88%, rgba(255, 214, 46, 0.78) 98.35%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -moz-background-clip: text;
                        -moz-text-fill-color: transparent;
                    }
                }
            }

            .button {
                .add-new {
                    color: #fff;
                    border: 1px solid;
                    border-image-source: linear-gradient(180deg, #C03366 0%, rgba(196, 38, 142, 0) 100%);
                    background: linear-gradient(90.63deg, rgba(231, 62, 173, 0.78) 9.11%, rgba(231, 38, 165, 0.78) 41.9%, rgba(233, 76, 123, 0.78) 70.8%, rgba(234, 39, 121, 0.78) 90.16%);
                    border-radius: 12px;
                    padding: 16px 45px;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }

        .card-list {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin: 32px 0px;

            .card {
                width: 312px;
                height: 157px;
                border-radius: 20px;
                background: rgba(154, 68, 146, 1);
                background-image: $bgimage;
                padding: 11px 19px;

                .card-title {
                    display: flex;
                    gap: 10px;
                    align-items: baseline;
                    color: #fff;
                }

                .card-icons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .icons {
                        display: flex;
                        gap: 16px;
                    }

                    .btn-edit {
                        background: rgba(250, 120, 172, 1);
                        width: 44px;
                        height: 44px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;

                        path{
                            fill: #fff;
                        }
                    }
                }

                .card-text {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    p {
                        line-height: 21px;
                        color: #fff;
                        width: 247px;
                    }

                    .btn-remove {
                        background: rgba(250, 120, 172, 1);
                        width: 44px;
                        height: 44px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        cursor: pointer;

                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }

        .load-more {
            text-align: center;

            a.btn-load-more {
                padding: 12px 116px;
                background: linear-gradient(113.87deg, rgba(221, 86, 144, 0.1) 14.81%, rgba(252, 181, 97, 0.1) 88.76%);
            }
        }
    }
}