/* Define standard variables and values for website */

// Define custom style css
body {
    margin: 0;
    
    .page-wrap {
        height: 100vh;
        min-height: 900px;

        @media (max-width: 500px) {
            min-height: 800px;
        }

        .main-content {
            width: 100%;
            height: 100%;
        }
    }
}
