/* Define standard variables and values for website */

// Define custom style css
body {
    margin: 0;
    
    .page-width {
        width: 1240px;
        margin: 0 auto;

        @media (max-width: 1300px) {
            width: calc(100% - 60px);
            padding: 0px 30px;
        }
    }

    .page-wrap {
        height: 100vh;
        min-height: 900px;

        @media (max-width: 500px) {
            min-height: 800px;
        }

        .main-content {
            width: 100%;
            height: 100%;
        }
    }
}
