/* Define standard variables and values for website */
$navBorderColor: linear-gradient(90deg, #875DE9 0%, #EB5DB9 100%);
$activeTabBorderColor: linear-gradient(90deg, #845DEA 0%, #EB5DB9 99.7%);

.page-header {
    position: relative;

    .header-main__container {
        width: 100%;
        justify-content: space-between;

        @media (max-width: 1200px) {
            padding: 0px
        }

        @media (max-width: 1023px) {
            padding: 18px 0px 0px 0px
        }

        .site-navigation {
            ul.nav-link-list {
                gap: 16px;

                @media (max-width: 1200px) {
                    gap: 0px;
                }

                li.nav-link {
                    position: relative;
                    align-items: center;
                    cursor: pointer;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 3px;
                    }

                    &:hover::after,
                    &.active::after {
                        background: $navBorderColor;
                    }

                    img.nav-icon {
                        padding: 19px;
                    }
                }
            }
        }

        .logout {
            .nav-link {
                gap: 19px;
                color: #DAB397;
            }

            @media (max-width: 1023px) {
                display: none;
            }
        }

        .mobile-menu {
            position: relative;
            width: 200px;
            text-align: right;

            .close-menu {
                width: 25px;
                height: 25px;
            }

            ul.nav-link-list {
                position: absolute;
                text-align: center;
                z-index: 1;
                width: 100%;
                box-shadow: 2px 3px 9px 3px rgba(244, 158, 109, 0.24);
                margin: 7px 0px 0px 0px;
                flex-direction: column;
                justify-content: center;
                background: #fdf9f5;

                li {
                    padding: 10px 0px;
                    display: flex;
                    justify-content: center;
                    border-bottom: solid 1px #efd7ca;

                    a {
                        color: #24262D;
                    }
                }
            }

            @media (max-width: 1023px) {
                display: block;
            }
        }
    }
}